In [52]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [53]:
url = "https://webpages.charlotte.edu/mscipion"
r = requests.get(url)
print(r)

<Response [200]>

In [54]:
soup = BeautifulSoup(r.text,"lxml")

In [55]:
table = soup.find("table")
print(table)

<table>
<tr>
<th>Student</th>
<th>Favourite Computer Language</th>
<th>Years of Experience</th>
</tr>
<tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>
<tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>
<tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>
<tr>
<td>Isabel</td>
<td>C++</td>
<td>3</td>
</tr>
<tr>
<td>Tony</td>
<td>Pearl</td>
<td>7</td>
</tr>
<tr>
<td>Maria</td>
<td>Cobol</td>
<td>15</td>
</tr></table>

In [56]:
headers = table.find_all("th")
print(headers)

[<th>Student</th>, <th>Favourite Computer Language</th>, <th>Years of Experience</th>]

In [57]:
titles = []
for i in headers: 
    title = i.text
    titles.append(title)

print(titles)

['Student', 'Favourite Computer Language', 'Years of Experience']

In [58]:
df = pd.DataFrame(columns=titles)

In [59]:
rows = table.find_all("tr")

In [68]:
for row in rows[1:]:
    data = row.find_all("td")
    #print(data)
    row = [tr.text for tr in data]
    print(row)

['Fred', 'Kotlin', '4']
['Paula', 'Python', '2']
['Ernst', 'Java', '7']
['Isabel', 'C++', '3']
['Tony', 'Pearl', '7']
['Maria', 'Cobol', '15']

In [63]:
for row in rows[1:]:
    data = row.find_all("td")
    print(data)
    row_data = [td.text for td in data]
    print(row_data)

df.head()

[<td>Fred</td>, <td>Kotlin</td>, <td>4</td>]
['Fred', 'Kotlin', '4']
[<td>Paula</td>, <td>Python</td>, <td>2</td>]
['Paula', 'Python', '2']
[<td>Ernst</td>, <td>Java</td>, <td>7</td>]
['Ernst', 'Java', '7']
[<td>Isabel</td>, <td>C++</td>, <td>3</td>]
['Isabel', 'C++', '3']
[<td>Tony</td>, <td>Pearl</td>, <td>7</td>]
['Tony', 'Pearl', '7']
[<td>Maria</td>, <td>Cobol</td>, <td>15</td>]
['Maria', 'Cobol', '15']

Empty DataFrame
Columns: [Student, Favourite Computer Language, Years of Experience]
Index: []

In [69]:
rows[1:2]

[<tr>
 <td>Fred</td>
 <td>Kotlin</td>
 <td>4</td>
 </tr>]

In [71]:
for row in rows[1:]:
    data = row.find_all("td")
    row = [tr.text for tr in data] 
    l = len(df)
    df.loc[l]= row
df.head()

  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7